<h1>PinkedInのトップページです</h1>
<% if current_user %>
  <p><%= current_user.name %>でログインしています</p>
  <% if current_user.ea_user? %>
    <%= link_to('求人を投稿する', new_offer_path) %>
  <% else %>
    <%= link_to('求人に応募する', offers_path) %>
  <% end %>
<% else %>
  <p>未ログインです。ログインしてください。</p>
<% end %>
