<h1>応募した求人一覧</h1>

<ul>
<% @applied_offers.each do |offer| %>
  <li>
    <dl>
      <dt>求人名</dt>
      <dd><%= link_to(offer.name, offer_path(offer)) %></dd>
    </dl>
    <dl>
      <dt>企業名</dt>
      <dd><%= link_to(offer.enterprise_account.name, enterprise_account_path(offer.enterprise_account)) %></dd>
    </dl>
  </li>
<% end %>
</ul>
