<h1>求人一覧</h1>

<ul>
<% @offers.each do |offer| %>
  <li>
    <dl>
      <dt>求人名:<%= link_to(offer.name, offer_path(offer)) %></dt>
    </dl>
    <dl>
      <dt>企業名:<%= link_to(offer.enterprise_account.name, enterprise_account_path(offer.enterprise_account)) %></dt>
    </dl>
  </li>
<% end %>
</ul>
