<h1>出した求人一覧</h1>

<ul>
<% @posted_offers.each do |offer| %>
  <li>
    <dl>
      <dt>求人名:<%= link_to(offer.name, offer_path(offer)) %></dt>
    </dl>
    <dl>
      <dt>応募数:<%= offer.offer_applications.count %></dt>
    </dl>
  </li>
<% end %>
</ul>
